
<html>
    <head>
        <title>Úžasný blog</title>
    </head>
    <body>
      <div>
        <h1>WELCOME</h1>
        <h2>Django Girls Blog</h2>
        <p>Hi there!</p>
      </div>

      <div>
       <h2><a href="">My first post</a></h2>
       <p>Černá díra je natolik hmotný objekt, že jeho gravitační pole je v jisté oblasti časoprostoru natolik silné, že žádný objekt včetně světla nemůže tuto oblast opustit. Černá díra byla teoreticky předpovězena v obecné teorii relativity publikované v roce 1915 Albertem Einsteinem. Protože ji není možno pozorovat přímo, nemůžeme stanovit korektně nic jako její datum objevu. Avšak můžeme s určitostí říci, že prvním vážným a dnes již prokázaným kandidátem se stala v roce 1971 hvězda v binárním systému v souhvězdí Labutě kryjící se s rentgenovým zdrojem Cygnus X-1.</p>
      </div>

      <div>
        <p>Bylo zjištěno, že jde o těleso, které má příliš velkou hmotu na to být neutronovou hvězdou. Další efekty spojené s pozorováním, především rentgenové záření, byly v perfektní shodě s teoretickou predikcí černé díry. Dnes považujeme za obecně prokázané, že černé díry se nacházejí v centrech galaxií, aktivních galaktických jádrech, kvasarech i v centrech některých kulových hvězdokup.
Podle obecné relativity nemůže žádná hmota ani informace proudit z nitra černé díry k vnějšímu pozorovateli. Například není možné získat žádnou její část ani odražené světlo vyslané z vnějšího zdroje či jakoukoli informaci o hmotě, která vstoupila do černé díry. Existují však kvantově-mechanické procesy, které způsobují vyzařování černých děr. Předpokládá se, že vyzařování nezávisí na tom, co do černé díry spadlo v minulosti.</p>
      </div>

      <div>
         <h2><a href="">My second post</a></h2>
         <p>Želvušky jsou považovány za nejodolnější tvory planety Země. Vyskytují se jak na ledovcích, tak na pouštích celého světa, některé osídlují moře či sladké vody. Žijí téměř v každém prostředí, běžně v tenkém vodním filmu na povrchu mechů, lišejníků, řas nebo některých druhů rostlin. </p>
      </div>
    </body>
</html>
